@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Krub:wght@500&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg: #F8F8F8;
  --dim: #D9D9D9;
  --line: #CDCDCD;
  --text: #252525;

  --font-main: 'Inter', sans-serif;
  --font-alt: 'Krub', sans-serif;

}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-main);
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}